@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --bg-tomato: hsl(4, 100%, 67%);
  --bg-Dark-Slate-Grey: hsl(234, 29%, 20%);
  --bg-Charcoal-Gray: hsl(235, 18%, 26%);
  --gray: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

$bp-medium: 57.43em; // 918px
$bp-small: 23.43em; // 375px

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; // 16px
  background-color: var(--bg-Charcoal-Gray);

  display: grid;
  grid-template-rows: minmax(100vh, max-content);
  grid-template-columns: 1fr;

  align-items: center;
  justify-items: center;

  color: var(--bg-Dark-Slate-Grey);
}

.container {
  max-width: 100%;
  background-color: var(--white);
  border-radius: 30px;
  padding: 2rem;

  display: grid;
  // It can never be smaller than 40rem
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  align-items:center;
  column-gap: 4rem;
}

.content {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;

  &__heading {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  &__heading-secondary {
    width: 90%;
    margin-bottom: 3rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__label {
    font-weight: 600;
    margin-bottom: 0.8rem;
  }

  &__input {
    padding: 1.5rem 2rem;
    border-radius: 9px;
    border: solid 1px var(--gray);
    color: gray;
    margin-bottom: 2rem;

    &:focus {
      outline: none;
    }

    &:focus:invalid {
      border: solid 1px var(--bg-tomato);
    }

    &::-webkit-input-placeholder {
      font-family: inherit;
      color: currentColor;
    }
  }

  &__input:focus:invalid ~ &__vaild {
    opacity: 1;
  }

  &__vaild {
    color: var(--bg-tomato);
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.6s;
  }

  &__icon {
    fill: #ff6155;
    width: 2.5rem;
    height: 2.5rem;
  }

  &__img {
    width: 100%;
    height: 100%;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 1 / 2;
    }
  }
}

.btn {
  background-color: var(--bg-Dark-Slate-Grey);
  color: var(--white);
  border: none;
  cursor: pointer;
  padding: 2rem;
  border-radius: 9px;
  font-weight: 700;
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--bg-tomato);
}

.success {
  background-color: var(--white);

  display: grid;
  padding: 4rem;
  border-radius: 30px;
  // It can never be smaller than 37.8rem
  grid-template-columns: minmax(37.8rem, min-content);

  @media only screen and (max-width: $bp-medium) {
    align-self: stretch;

    .btn {
      align-self: end;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;

    img {
      width: 15%;
    }

    h1 {
      font-size: 5rem;
      font-weight: 700;
      line-height: 1;
    }

    p {
      line-height: 1.5;

      span {
        font-weight: 700;
      }
    }
  }
}

.hide {
  display: none;
}
